[Unit]
Description=VisualPie
After=network.target sound.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/VisualPie
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStart=/usr/bin/python3 /home/pi/VisualPie/visualizer.py
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/VisualPie/output.log
StandardError=append:/var/log/VisualPie/error.log

[Install]
WantedBy=multi-user.target
